<?xml version="1.0"?>
<!--
 /**
 * Created by Q-Solutions Studio
 * Date: 16.03.2020
 *
 * @category    Magespices
 * @package     Magespices_Faq
 * @author      Maciej Buchert <maciej@qsolutionsstudio.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magespices_Faq" setup_version="1.1.0">
        <sequence>
            <module name="Magento_Product"/>
        </sequence>
    </module>
</config>